.page {
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form-title {
    margin-bottom: 2rem;
}

.form-ctn {
    width: 90%;
    max-width: 450px;
    background-color: rgba(200, 200, 200, 0.7);
    padding: 2rem 1rem;
    border-radius: 15px;
    text-align: center;
    font-weight: 500;
    color: #333;
}

a {
    font-size: 1.25rem;
    opacity: 0.8;
}

form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

label {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
    font-size: 1.25rem;
    font-weight: 600;
}

input {
    width: 80%;
    border: 2px solid white;
    font-size: 1.25rem;
    padding: 0.5rem;
    border-radius: 5px;

    &:focus {
        outline: 2px solid var(--info-color);
    }
}

button {
    align-self: center;
}
